<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- <include resource="org/springframework/boot/logging/logback/base.xml"/>
	<jmxConfigurator/>
	 -->
	<!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径 -->
	<property name="LOG_HOME" value="/server/log/smile/service/taoBLMing" />
	<!-- 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- 日志输出编码 -->
		<layout class="ch.qos.logback.classic.PatternLayout">
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
			<pattern>%d %t %p (%file:%line\)- %m%n</pattern>
		</layout>
	</appender>
	<!-- 按照每天生成日志文件 /bdp-CORE-CERTIFICATION-->
	<appender name="BASIC_LOG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/bdp_cloud_pnr.log</file>
		<!-- 压缩日志 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/backup/bdp_cloud_certification.%d{yyyy-MM-dd}.%i.log.zip</FileNamePattern>
			<MaxHistory>30</MaxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
			<!-- <pattern>%d [%t] %p (%file:%line\)- %m%n</pattern> -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}  %-5level %logger{50} - %msg%n</pattern>
		</layout>
	</appender>
	
	<!-- 按照每天生成日志文件 -->
	<appender name="BASIC_LOG_2"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/bdp_cloud_pnr_2.log</file>
		<!-- 压缩日志 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/backup/bdp_cloud_certification_e.%d{yyyy-MM-dd}.%i.log.zip</FileNamePattern>
			<MaxHistory>30</MaxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
			<!-- <pattern>%d [%t] %p (%file:%line\)- %m%n</pattern> -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}  %-5level %logger{50} - %msg%n</pattern>
		</layout>
	</appender>
	
	<!-- 异步写入 -->
	<appender name="ASYNC_BASIC_LOG" class="ch.qos.logback.classic.AsyncAppender">
		<discardingThreshold>0</discardingThreshold>
		<queueSize>10240</queueSize>
		<appender-ref ref="BASIC_LOG" />
	</appender>
	

	<appender name="ASYNC_BASIC_LOG_2" class="ch.qos.logback.classic.AsyncAppender"><discardingThreshold>0</discardingThreshold><queueSize>10240</queueSize><appender-ref ref="BASIC_LOG_2" /></appender>
	<logger name="com.csair" level="INFO" additivity="false"><appender-ref ref="ASYNC_BASIC_LOG_2" /></logger>

	<appender name="pnr_Info" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_HOME}/pnr_Info.log</File>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%-5p [%t] %d{yy-MM-dd HH:mm:ss} &lt;%c&gt; -- %m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/backup/pnr_Info.%d{yyyy-MM-dd-HH}.log.gz</fileNamePattern>
			<MaxHistory>30</MaxHistory>
			<!--<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>-->
		</rollingPolicy>

		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>TRACE</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>NEUTRAL</onMismatch>
		</filter>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>NEUTRAL</onMismatch>
		</filter>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>WARN</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<appender name="pnr_Err" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_HOME}/pnr_Err.log</File>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%-5p [%t] %d{yy-MM-dd HH:mm:ss} &lt;%c&gt; -- %m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/backup/pnr_Err.%d{yyyy-MM-dd-HH}.log.gz</fileNamePattern>
			<MaxHistory>30</MaxHistory>
			<!--<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>-->
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>
	<!-- 日志输出级别 -->
	<root level="INFO">
		<appender-ref ref="ASYNC_BASIC_LOG" />
		 <appender-ref ref="STDOUT" /> 
	</root>

	<logger name="com.csair.bdp.cloud" >
		<appender-ref ref="pnr_Info"/>
		<appender-ref ref="pnr_Err"/>
		<appender-ref ref="STDOUT" />

	</logger>

</configuration>